# postgresql
postgresql_host='xxx.xx.xx.xx'
postgresql_port='xxxx'
postgresql_password='xxxx'
postgresql_user='xx'

# Matroos
vitaal_user="xx"
vitaal_password="xx"

# DamLive
DAMLIVE_EXE="xx"

# GWDI: wiwb authentication
WIWB_CLIENT_ID="xx"
WIWB_KEY="xx"

# GWDI: knmi authentication key
KNMI_API_KEY = "xx"
