# pixi environments
.pixi

# . files
.ipynb_checkpoints
.idea
.env
.coverage

# wheels
src/dist/*

# testing
hidden_dataset
hidden_test.py

# cache:
__pycache__
__pycache__/*
__pycache__/** */
*/__pycache__/*
src/toolbox_continu_inzicht/__pycache__/
src/toolbox_continu_inzicht/base/__pycache__/
src/toolbox_continu_inzicht/fragility_curves/__pycache__/
src/toolbox_continu_inzicht/proof_of_concept/__pycache__/
src/toolbox_continu_inzicht/waterstanden/__pycache__/
tests/src/__pycache__/
tests/src/base/__pycache__/
