# pixi environments
.pixi

.ipynb_checkpoints
.idea
.env
.env.template

__pycache__/*
__pycache__/** */
src/continu_inzicht_toolbox/__pycache__/
*/__pycache__/*
src/continu_inzicht_toolbox/base/__pycache__/
src/continu_inzicht_toolbox/proof_of_concept/__pycache__/
src/continu_inzicht_toolbox/waterstanden/__pycache__/
src/continu_inzicht_toolbox/fragility_curves/__pycache__/
tests/src/__pycache__/
tests/src/base/__pycache__/
