[workspace]
name = "toolbox-continu-inzicht"
version = "0.1.2"
description = "Toolbox voor waterkeringbeheerders om risico's in kaart te brengen."
channels = ["conda-forge"]
platforms = ["win-64", "linux-64"]
readme = "README.md"
license = "GPL-3.0"
license-file = "LICENSE"
repository = "https://github.com/continu-inzicht/toolbox-continu-inzicht"
homepage = "https://continu-inzicht.github.io/toolbox-continu-inzicht/"

[tasks]
# Installation
install = "pre-commit install"

# Docs
quartodoc-build = { cmd = "quartodoc build && rm objects.json", cwd = "docs" ,inputs = [
    "docs/_quarto.yml",
    "src/continu_inzicht_toolbox",
    ],outputs = [
    "docs/reference/"
    ]}

quartodoc-build-force = { cmd = "quartodoc build && rm objects.json", cwd = "docs" ,inputs = [
    "docs/_quarto.yml",
    "src/continu_inzicht_toolbox",
] }
quarto-preview = { cmd = "export QUARTO_PYTHON=python && quarto preview docs", depends-on = [
    "quartodoc-build",
] }
quarto-check = { cmd = "quarto check all", depends-on = ["quartodoc-build"] }
quarto-render = { cmd = "export QUARTO_PYTHON=python && quarto render docs --to html --execute", depends-on = [
    "quartodoc-build",
] }
# Lint
pre-commit = "pre-commit run --all-files"
lint = { depends-on = ["pre-commit"] }
# Test
pytest-cov = "pytest --cov --cov-report=xml --benchmark-save=ci-run --ignore=src\\toolbox_continu_inzicht\\base\\adapters"
pytest-cov-html = "pytest --cov --cov-report html:tests/hidden_test_cov --ignore=src\\toolbox_continu_inzicht\\base\\adapters"

[feature.common.dependencies]
python = ">=3.11,<3.14" # no support for 3.14 yet in many packages
pandas = "*"
pydantic = ">=2"
python-dotenv = ">=1.0.1"
pyyaml = "*"
requests = "*"
httpx = "*"
pyarrow = "*"
sqlalchemy = "*"
psycopg2 = "*"
xarray = "*"
netcdf4 = ">=1.7.1"
openpyxl = "*"
fiona = "*"
geopandas = "*"
pyogrio = "*"
shapely = "*"
openturns = ">=1.23"
# specific to pixi
pip = "*"

# only for testing
[feature.tests.dependencies]
pytest = "*"
pytest-benchmark = "*"
pytest-cov = "*"
pytest-xdist = "*"

# these are only for development needs
[feature.dev.dependencies]
contextily = "*"
ipykernel = "*"
ipywidgets = ">=8.1.5,<9"
jupyter-cache = ">=1.0.0,<2"
jupyterlab = "*"
pandas-stubs = "*"
pre-commit = "*"
quarto = "*"
quartodoc = ">=0.11.1,<0.12"
ruff = "*"
tomli = "*"
tomli-w = "*"
types-requests = "*"
types-pyyaml = "*"
matplotlib = "*"

## check specific python versions
#[feature.py311.dependencies]
#python = "3.11.*"
#[feature.py312.dependencies]
#python = "3.12.*"
#[feature.py313.dependencies]
#python = "3.13.*"

[feature.common.pypi-dependencies]
toolbox_continu_inzicht = { path = "src", editable = true }
pydra-core = "==0.0.9"
probabilistic-piping = "==0.0.5"

[environments]
default = { features = ["common","tests", "dev"] }
prod = { features = ["common", "tests"] }
## check python versions - makes pixi large so only to test locally
#py311 = { features = ["common","tests", "py311"] }
#py312 = { features = ["common","tests", "py312"] }
#py313 = { features = ["common","tests", "py313"] }
